[submodule "dep/span-lite"]
	path = dep/span-lite
	url = git@github.com:martinmoene/span-lite.git
[submodule "dep/stb"]
	path = dep/stb
	url = git@github.com:nothings/stb.git
[submodule "dep/string-view-lite"]
	path = dep/string-view-lite
	url = git@github.com:martinmoene/string-view-lite.git
[submodule "dep/cxxopts"]
	path = dep/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "dep/dkm"]
	path = dep/dkm
	url = git@github.com:genbattle/dkm.git
